:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --height-header: 88px;
  --height-header-mobile: 60px;
  --height-header-mobile-landscape: 45px;
  --default: #525252;
  --red: #FA877A;
}
